# Backlight Dimmer
type sysfs_backlight, sysfs_type, fs_type;

# Headphone Gain
type sysfs_hgain, sysfs_type, fs_type;

# Kcal
type kcal_dev, sysfs_type, fs_type;

# Microphone Gain
type sysfs_mgain, sysfs_type, fs_type;

# Torch Brightness Control
type sysfs_tbrightness, sysfs_type, fs_type;

# USB Fastcharge
type sysfs_fcharge, sysfs_type, fs_type;
