on boot

# Audio gain permissions
  chown system system /sys/kernel/sound_control/earpiece_gain
  chown system system /sys/kernel/sound_control/headphone_gain
  chown system system /sys/kernel/sound_control/mic_gain
  chmod 0660 /sys/kernel/sound_control/earpiece_gain
  chmod 0660 /sys/kernel/sound_control/headphone_gain
  chmod 0660 /sys/kernel/sound_control/mic_gain

# Backlight Dimmer
  chown system system /sys/module/mdss_fb/parameters/backlight_dimmer
  chmod 0660 /sys/module/mdss_fb/parameters/backlight_dimmer

# KCAL permissions
  chown system system /sys/devices/platform/kcal_ctrl.0/kcal
  chown system system /sys/devices/platform/kcal_ctrl.0/kcal_enable
  chown system system /sys/devices/platform/kcal_ctrl.0/kcal_cont
  chown system system /sys/devices/platform/kcal_ctrl.0/kcal_sat
  chown system system /sys/devices/platform/kcal_ctrl.0/kcal_hue
  chown system system /sys/devices/platform/kcal_ctrl.0/kcal_min
  chown system system /sys/devices/platform/kcal_ctrl.0/kcal_val
  chmod 0660 /sys/devices/platform/kcal_ctrl.0/kcal
  chmod 0660 /sys/devices/platform/kcal_ctrl.0/kcal_enable
  chmod 0660 /sys/devices/platform/kcal_ctrl.0/kcal_cont
  chmod 0660 /sys/devices/platform/kcal_ctrl.0/kcal_sat
  chmod 0660 /sys/devices/platform/kcal_ctrl.0/kcal_hue
  chmod 0660 /sys/devices/platform/kcal_ctrl.0/kcal_min
  chmod 0660 /sys/devices/platform/kcal_ctrl.0/kcal_val

# Torch permissions
  chown system system /sys/devices/soc/800f000.qcom,spmi/spmi-0/spmi0-03/800f000.qcom,spmi:qcom,pm660l@3:qcom,leds@d300/leds/led:torch_0/max_brightness
  chown system system /sys/devices/soc/800f000.qcom,spmi/spmi-0/spmi0-03/800f000.qcom,spmi:qcom,pm660l@3:qcom,leds@d300/leds/led:torch_1/max_brightness
  chmod 0660 /sys/devices/soc/800f000.qcom,spmi/spmi-0/spmi0-03/800f000.qcom,spmi:qcom,pm660l@3:qcom,leds@d300/leds/led:torch_0/max_brightness
  chmod 0660 /sys/devices/soc/800f000.qcom,spmi/spmi-0/spmi0-03/800f000.qcom,spmi:qcom,pm660l@3:qcom,leds@d300/leds/led:torch_1/max_brightness

# USB fastcharge permissions
  chown system system /sys/kernel/fast_charge/force_fast_charge
  chmod 0660 /sys/kernel/fast_charge/force_fast_charge

# Vibrator permissions
  chown root system /sys/class/timed_output/vibrator/vtg_level
  chmod 0660 /sys/class/timed_output/vibrator/vtg_level
